<div class="container mt-5">
  <h1 class="title">Dashboard</h1>

  <% if user_signed_in? %>
  <% else %>
  <p>Sorry you are not signed in- please sign in to see your consultations!</p>
  <% end %>
</div>
