<div class="container mt-5" style="width: 500px;">
  <h1 class="title d-flex justify-content-center font-weight-lighter">Write a comment:</h1>

  <%= simple_form_for([@article, @comment]) do |f| %>
    <%= f.input :content %>
    <div class="d-flex justify-content-center">
    <%= f.submit class: "m-btn" %>
    </div>

  <% end %>

  <div class= "d-flex justify-content-center mt-3">

    <%= link_to 'Back', article_path(@article), class: "yellow-link" %>

  </div>
</div>
<!-- btn btn-outline-primary btn-sm
btn btn-outline-primary btn-sm
-->
