<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>

  <%= f.input :content, as: :text %>
    <div class = "d-flex justify-content-center">
      <%= f.submit "Add Article", class: "m-btn" %>
    </div>
<% end %>


