<div class="container mt-5">
  <h1 class="title d-flex justify-content-center">Add an Article </h1>
  <%=  render 'form' %>

  <div class= "d-flex justify-content-center m-3">
    <%= link_to 'Back to Articles', articles_path %>
  </div>
</div>
