<div class="row">
  <div class="container">
      <%= simple_form_for [@user, @consultation] do |f| %>
      <%= f.input :date %>
      <%= f.submit "Make Consultation", class:"m-btn" %>
      
    <% end %>
  </div>
</div>
