<div class="row">
  <div class="container">
      <%= simple_form_for [@user, @consultation] do |f| %>
      <%= f.input :date %>
      <%= f.submit "Make Consultation", class: "btn btn-outline-primary btn-rounded btn-sm my-0" %>
    <% end %>
  </div>
</div>
