<div class="container mt-5">
  <%= simple_form_for [ @consultation] do |f| %>
  <%= f.submit "Edit consultation", class: "btn btn-outline-primary" %>
  <% end %>
  <%= link_to "Delete this consultation",
  user_path(@consultation),
  method: :delete,
  data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary btn-sm mt-3" %>
  <div>
    <%= link_to 'Back', users_path, class: "btn btn-outline-primary btn-sm mt-3"%>
  </div>
</div>

