<div class="container mt-5">
  <h1 class="title d-flex justify-content-center">Make new consultation</h1>
  <%=  render 'form', user:@user %>

  <div class= "mt-3">
    <%= link_to 'Back', mentors_path, class: "yellow-link"%>
  </div>
</div>
