<div class="container mt-5 text-center" >
  <h1 class="title">Consultation Confirmation</h1>
  <p>Thanks for booking a consultation</p>
  <%= link_to "See all your Consultations", dashboard_index_path(@user), class: "m-btn" %>
</div>
