<div class="container mt-5 text-center" >
  <h1 class="title">Consultation Confirmation</h1>
  <p>Thanks for booking a consultation</p>
  <%= link_to "See all your bookings", dashboard_index_path(@user), class: "btn btn-outline-primary" %>
</div>
