<div class="navbar-homepage">
  <%= link_to root_path class: "navbar-brand" do %>
    <p class='mb-0 navbar-icon icon-w'>W</p>
    <p class='mb-0 navbar-icon icon-compass'><i class="far fa-compass"></i></p>
  <% end %>

  <ul class="navbar-homepage-links">
      <li class="">
        <%= link_to "mentors", "#", class: "" %>
      </li>
      <li class="">
        <%= link_to "wiki", articles_path, class: "" %>
      </li>
      <li class="">
        <%= link_to "Login", new_user_session_path, class: "" %>
      </li>
  </ul>
</div>
