



<nav> 
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path class: "navbar-brand" do %>
    <p class='mb-0 navbar-icon icon-w'>W</p>
    <p class='mb-0 navbar-icon icon-compass'><i class="far fa-compass"></i></p>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>


  <ul id="menu" class="sidebar-list">

    <a href="#t1" style="text-decoration:none"><li class="icon fa fa-square" ><font color= 9A9A9A font size="3"> Home</font></li></a>
    <a href="#t2" style="text-decoration:none"><li class="icon fa fa-square" ><font color= 9A9A9A font size="3"> Search</font></li></a>
    <a href="#t3" style="text-decoration:none"><li class="icon fa fa-square" ><font color= 9A9A9A font size="3"> My Profile</font></li></a>
    <a href="#t4" style="text-decoration:none"><li class="icon fa fa-square" ><font color= 9A9A9A font size="3"> About us</font></li></a>
  </ul>

</nav>