<div class="container my-5 ml-5 d-flex">
  <div class="main-container mt-5">
    <h1 id="main-header">Welc<span><i class="far fa-compass main-icon"></i></span>me</h1>
    <div class="main-body m-0">
      <p id="main-p">Welcome is a platform that aims to connect those wanting to move abroad to those who have already made the journey. Here you will find the information you need to make this next transition as easy as possible. </p>
    </div>
    <form class="form-inline home-form">
      <label class="sr-only" for="inlineFormInputName2">location</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="location">

      <button type="submit" class="btn btn-wel mb-2">Get Started</button>
    </form>
  </div>
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);">
  </div>
  </div>
</div>
