<div class="row">
  <div class="container" style="width: 290px;" >
      <%= simple_form_for [@mentor, @consultation] do |f| %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <div class = "d-flex justify-content-center">
      <%= f.submit "Make Consultation", class: "c-btn" %>
      </div>
    <% end %>
  </div>
</div>

