<h5 class="title" style="font-size: 20px;"><%= mentor.first_name%> <%= mentor.last_name%></h5>
<p class="mb-0"><%= mentor.address %></p>
<%= link_to "View Mentor",  mentor_path(mentor), class: "sm-btn", data: {turbolinks: false} %>
