<% @mentors.each do |mentor| -%>
<div class="card-trip" style="width: 18rem;">
  <div class="p-3">
    <img class="shadow" src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" >
  </div>
  <div class="card-trip-infos">
    <div>
      <h2 class="pb-1">mentor.username</h2>
      <p class="pt-1 pb-3">Muffin cupcake jelly jelly-o oat cake. Sesame snaps topping tiramisu pudding carrot cake. Soufflé liquorice lollipop chocolate bar chocolate cake croissant. Halvah sugar plum ice cream fruitcake lemon drops wafer. </p>
      <button class="c-btn">link_to view profile new_cocktail_path</button>
    </div>
  </div>
</div>
<% end -%>


