
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h2 class="pb-1" style="margin-top: 25px; margin-left: 120px;">Search results mentors in Berlin</h2>
      <div class="card-deck" style="margin-left: 120px; margin-top: 10px;">
        <% @mentors.each do |user| -%>
        <div  id="mentor-card" class="card-trip" style="width: 16rem; height: 24rem;">
          <div class="p-3">
            <img id="card-img"class="shadow" src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" >
          </div>
          <div id="card-info" class="card-trip-infos" style="margin-top: -30px;">
            <div>
              <h2 class="pb-1">user.username</h2>
              <p style="margin-bottom: 10px;">Muffin cupcake jelly jelly-o oat cake. Sesame snaps topping tiramisu pudding carrot cake. Soufflé liquorice lollipop chocolate bar chocolate cake croissant. Halvah sugar plum ice cream fruitcake lemon drops wafer. </p>
              <button id="mentor-btn d-flex align-items-center"class="c-btn"> link_to View mentor_path </button>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>

    <div class="col-5">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group" style="width:33rem; margin-left:90px ">
        <input class="form-control string required pl-5" type="text" name="search[query]" id="search_query" placeholder="Search mentor" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search search-icon"></i>
        </button>
      </div>
      <% end %>
      <div id="map"
      style="width: 100%; height: 800px; "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>


