

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img class="card-image" style="width: 24rem; height: 650px; border-radius: 18px; margin-top: 78px;"class="shadow" src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" >
    </div>
    <div class="col-sm">

      <div class="card-mentor" style="width: 27rem; margin-top: 78px;">
        <div class="card-body">
          <h2 class="card-title">Patricia Smith</h2>
          <h5 class="card-title">Tax Prep Checklist</h5>
          <h6 class="card-subtitle mb-2 text-muted">Everything You Need to File Your Taxes</h6>
          <p class="card-text justi">Form W-2 Wage and Tax Statement -Your W-2 shows how much you earned and how much was withheld for taxes. Your employer has until February to send you your form. If you haven’t received yours, go ahead and request it.
            Bank or financial institution statements – Did you make contributions to an IRA? You’ll need a Form 5498. Are you paying down student loan debt? Be sure to grab your Form 1098-E. Did you take out a home mortgage? Be sure to have your Form 1098 Mortgage Interest Statement.
            Last year’s state refund amount – If you itemize your deductions, then your state refund is considered income for tax purposes.
            Other miscellaneous income records – This could include award money, gambling winnings, lottery pay-outs, etc.
          Any (and all) Form 1099s – There are several different types of 1099. Some of the common ones include</p>

          <div class="card-review" style="width: 24rem;">
            <div class="card-body">
              <h5 class="card-title">Reviews</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Reviews</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">col-sm</div>

  </div>
</div>
