.card-trip {
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
  }
  .card-trip > img {
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    padding: 16px;
  }
  .card-trip h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #2E4057;
    font-family: 'Lato', sans-serif;
  }
  .card-trip p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    
  }
  .card-trip .card-trip-infos {
    padding: 16px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  