.m-btn {
  background-color: #FAAA0A;
  padding: 5px 80px;
  border-radius: 20px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 14px;
}

.m-btn:hover {
  opacity: 0.8;
  color: #2E4057;
}

.m-btn-outline {
  background-color: white;
  padding: 4px 78px;
  border-radius: 20px;
  border: 1px solid #FAAA0A;
  font-size: 14px;
  color: #FAAA0A;
}

.m-btn-outline:hover {
  opacity: 0.8;
  color: #2E4057;
}

.c-btn {
  background-color: #FAAA0A;
  border-radius: 20px;
  border-color: transparent;
  color: white;
  font-size: 16px;
  padding: 2px 50px;
  // width: 80px;
  // height: 34px;
}

.c-btn:hover {
  opacity: 0.8;
  color: #2E4057;
}

.d-btn {
  background-color: #FAAA0A;
  border-radius: 20px;
  border-color: transparent;
  color: white;
  font-size: 16px;
  padding: 2px 40px;
}

.d-btn:hover {
  opacity: 0.8;
  color: #2E4057;
}

#mentor-btn {
width: 75px;
height: 34px;
position: absolute;
}
