.m-btn {
  background-color: #FAAA0A;
  padding: 5px 80px;
  border-radius: 20px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 14px;
}

.m-btn:hover {
  opacity: 0.8;
  color: #2E4057;
}

.c-btn {
  background-color: #FAAA0A;
  border-radius: 20px;
  border-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  padding: 2px 50px;
}

.c-btn:hover {
  opacity: 0.8;
  color: #2E4057;
}

#mentor-btn{
width: 75px;
height: 34px;
position: absolute;

}
