// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map{
position: sticky;
height: 100vh;

}

.container-fluid{
  display: flex;
}

.card-mentor-trip{
  flex-grow: 1;
}
