.navbar-icon {
    color: #2E4057;
    font-size: 1.5em;
    position: relative;
    left: 15px;
    top: 8px;
  }




.icon-w {
    color: $yellow;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    left: 38px;
  }

  .icon-compass {
    left: 54px;
    top: 25px;
    position: absolute;
  }



  /*navbar
  */

  .sidenav {
    position: sticky;
    top: 0;
  }

  .menu {
    font-family: 'Rubik', sans-serif;;
    text-decoration: none;


  }
  .icon{
    color: #FAAA0A;
    font-size: 12px;
    display: block;
  }

  .nav-item {
    color: $yellow;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }

  /*.icon:active{
    color: blueviolet;

  text-align: left;

  }*/


  ul .icon:hover {
    color: $blue;
  }
  .sidebar-list {
    margin: 60px 0 0 0;
    text-align: left;
  }

  .icon {
    margin: 30px 0;
  }
  .hint a:hover {
    color: #FFF;
  }

  .side-nav-i {
    color: $blue;
  }

  .side-nav-i:hover {
    color: $yellow;
  }
