.chatroom-container {
  width: 500px;
  background: white;
  border-radius: 20px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  .c-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.message-container.right {
  text-align: right;
}

.message-container {
  padding: 10px;
}

.sm-avatar-img {
  height: 40px;
  border-radius: 50%;
}
