// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/layout";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Lato', sans-serif;
  background-color: #FBFBFF;
}

 ul {
  list-style-type: none;
 }

.lt {
  opacity: 0.5 !important;
}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.emp-y {
  color: #FAAA0A;
}
