// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/layout";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

body {
  font-family: 'Lato', sans-serif;
  background-color: #FBFBFF;
  link-decoration: none;
}

a {
  color: white;
}

 ul {
  list-style-type: none;
 }

.lt {
  opacity: 0.5 !important;
}

.title {
  font-family: 'Rubik', sans-serif;
  color: #2E4057;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 40px;
}

.round {
  border-radius: 20px;
}

.emp {
  color: $yellow;
}

.form-inline div {
  display: inline-block
}
